:root {
	--white: #fff;
	--black: #000;
	--facebook: #4267b2;
	--instagram: #8a3ab9;
	--light-red: #f88379;
	--red: #880808;
	--light-blue: #89cff0;
	--blue: #00008b;
	--light-grey: #c3c3c3;
	--grey: #36454f;

	--card-blue: #0096ff;
	--card-yellow: #ffbf00;
	--card-red: #ff3131;
	--card-green: #0bda51;

	--space-s: 15px;
	--space-m: 40px;
	--space-button: 10px 25px;

	--radius: 25px;

	--transition: all 0.2s ease-in-out;

	--family: 'Montserrat Alternates', sans-serif;

	--size-s: 18px;
	--size-m: 24px;
	--size-l: 36px;
}
:local {
	.contacts {
		font-family: var(--family);
		font-size: var(--size-s);
		background-color: var(--light-red);
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contacts h1 {
		font-size: var(--size-l);
		font-weight: 700;
		line-height: 1.6;
	}
	.contacts h2 {
		font-size: var(--size-m);
		font-weight: 700;
		line-height: 1.6;
	}
	.contacts h3 {
		font-size: var(--size-s);
		font-weight: 700;
		line-height: 1.6;
	}

	.contacts .mobile {
		width: 600px;
		height: 90vh;
		background-color: var(--white);
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: var(--radius);
		padding: var(--space-m);
		-ms-overflow-style: none;
		scrollbar-width: none;
		position: relative;
	}

	.contacts .mobile::-webkit-scrollbar {
		display: none;
	}

	.contacts .mobile h1 {
		margin-bottom: var(--space-m);
	}

	.contacts .mobile .search_icon {
		position: absolute;
		top: var(--space-m);
		right: var(--space-m);
		cursor: pointer;
	}

	@media (max-width: 640px) {
		.contacts .mobile {
			width: 100%;
			height: 100%;
			border-radius: 0;
		}
	}
	@media (max-width: 414px) {
		:root {
			--space-m: 15px;
			--space-button: 5px 15px;
		}
	}
}
