.form input,
.form textarea {
	width: 100%;
	background-color: var(--blue);
	border: 0 none;
	padding: var(--space-default);
	font-family: var(--family-primary);
	font-size: var(--size-m);
}

.columns_2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_2 .column {
	margin-bottom: var(--space-default);
	width: calc(50% - var(--space-default) / 2);
}
.mb_default {
	margin-bottom: var(--space-default);
}
.text_center {
	text-align: center;
}

.button {
	border: 2px solid var(--green);
	padding: 20px 30px;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	font-family: var(--family-accent);
	font-weight: 600;
	border-radius: var(--radius);
}
.button:hover {
	background-color: var(--green);
	color: var(--grey);
}
@media (max-width: 1200px) {
	.button {
		padding: 15px 25px;
	}
}
@media (max-width: 800px) {
	.button {
		padding: 10px 15px;
	}
}
@media (max-width: 640px) {
	.columns_2 {
		max-width: var(--container);
		margin-left: auto;
		margin-right: auto;
	}

	.columns_2 .column {
		width: 100%;
		min-height: auto;
	}
}
