.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: var(--space-default) var(--space-l);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--black);
	z-index: 1;
}

.menu-item a {
	color: var(--white);
	text-transform: uppercase;
	padding: var(--space-default);
	transition: all 0.2s ease-in-out;
	border-bottom: 4px solid transparent;
	border-radius: var(--radius);
	font-weight: 700;
	font-family: var(--family-accent);
}
.menu-item a:hover {
	border-bottom: 4px solid var(--green);
}

.menu .button-small {
	text-transform: uppercase;
}
.logo img {
	width: 100px;
}

.search a {
	padding: var(--space-default);
	transition: all 0.2s ease-in-out;
}
.search a:hover {
	color: var(--green);
}
@media (max-width: 1200px) {
	.navigation .menu {
		width: 100%;
		justify-content: center;
	}
	.navigation .logo {
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 800px) {
	.navigation {
		position: relative;
	}
	.menu {
		flex-wrap: wrap;
	}
	.menu-item,
	.search {
		width: 25%;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 640px) {
	.navigation {
		padding: var(--space-default);
	}
}
