.width_80 {
	width: 80%;
}
.mb_default {
	margin-bottom: var(--space-default);
}
.bg_cover {
	background-size: cover;
	background-position: center;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--overlay);
	opacity: 0;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}
.h4 {
	font-family: var(--family-accent);
	font-size: var(--size-m);
	font-weight: 600;
	line-height: 1.2;
}
.columns_2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_2 .column {
	width: calc(50% - var(--space-default) / 2);
}
.columns_3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_3 .column {
	width: calc(100% / 3 - var(--space-default) * 2 / 3);
	margin-bottom: var(--space-default);
}

.columns_2_v {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.columns_2_v .column {
	width: 100%;
	height: calc(50% - var(--space-default) / 2);
}
.columns_2 {
	height: 640px;
}
.overlay {
	opacity: 0.5;
}
.column {
	position: relative;
}
.p_default {
	padding: var(--space-default);
}
.column:hover > .overlay {
	opacity: 1;
}
.columns_3 .column {
	position: relative;
}
.columns_3 .column:not(:nth-child(3n)):before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-right: 3px solid var(--green);
	height: 100%;
}
.details {
	left: var(--space-m);
	bottom: var(--space-m);
	position: absolute;
}
@media (max-width: 1200px) {
	.columns_2 {
		height: 500px;
	}
}
@media (max-width: 800px) {
	.columns_2 {
		height: 350px;
	}
}
@media (max-width: 640px) {
	.columns_3,
	.columns_2 {
		max-width: var(--container);
		margin-left: auto;
		margin-right: auto;
	}
	.columns_3 .column,
	.columns_2 .column {
		width: 100%;
		min-height: 200px;
	}
	.columns_2 {
		display: none;
	}
	.columns_3 .column:not(:nth-child(3n)):before {
		display: none;
	}
	.width_80 {
		width: 100%;
	}
}
