.w_100 {
	width: 100%;
}
.pt_100 {
	padding-top: 100%;
}
.bg_cover {
	background-size: cover;
	background-position: center;
}
.p_default {
	padding: var(--space-default);
}
.mb_default {
	margin-bottom: var(--space-default);
}
.button_small {
	border: 2px solid var(--green);
	padding: 10px 15px;
	text-transform: capitalize;
	color: white;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	font-family: var(--family-accent);
	font-weight: 600;
	border-radius: var(--radius);
}
.button_small:hover {
	background-color: var(--green);
	color: var(--grey);
}
