.h5 {
	font-family: var(--family-accent);
	font-size: var(--size-default);
	color: var(--white);
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
}
.inquiry {
	text-align: center;
	padding: var(--space-l) 0;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.mb_default {
	margin-bottom: var(--space-default);
}

.heading {
	font-family: var(--family-accent);
	font-size: var(--size-xl);
	font-weight: 800;
	line-height: 1.2;
}
.bg_blue {
	background-color: var(--blue);
}
.py_m {
	padding: var(--space-m) 0;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.flex_between {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.separator {
	width: 50px;
	border-top: 2px solid var(--green);
	vertical-align: middle;
	margin-top: var(--space-default);
	margin-bottom: var(--space-default);
}
.container {
	max-width: var(--container);
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
.section {
	padding: var(--space-l) 0;
}

.icon_white {
	font-size: var(--size-l);
	margin-right: var(--space-default);
	color: var(--white);
	transition: all 0.2s ease-in-out;
}
.icon_white:hover {
	color: var(--green);
	transform: scale(1.3);
}
.footer .menu {
	flex-grow: 1;
}
.footer .menu:first-child {
	flex-grow: 3;
}
.footer .menus {
	display: flex;
}
.copyright a {
	margin-left: var(--space-m);
	text-transform: uppercase;
}
.social_media_small a {
	margin: 0 calc(var(--space-default) / 2);
	font-size: var(--size-l);
	transition: all 0.2s ease-in-out;
}
.social_media_small a:hover {
	color: var(--green);
}
.mb_m {
	margin-bottom: var(--space-m);
}
.logo {
	width: 100px;
}
.social_media a {
	margin: 0 var(--space-default);
	font-size: var(--size-xl);
	transition: all 0.2s ease-in-out;
}
.social_media a:hover {
	color: var(--green);
}

.button {
	border: 2px solid var(--green);
	padding: 20px 30px;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	font-family: var(--family-accent);
	font-weight: 600;
	border-radius: var(--radius);
}
.button:hover {
	background-color: var(--green);
	color: var(--grey);
}

.bg_blue {
	background-color: var(--blue);
}

.bb_white {
	border-bottom: 4px solid var(--white);
}
@media (max-width: 1200px) {
	.footer .menus {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.footer .menu {
		width: calc(50% - var(--space-default));
		margin-bottom: var(--space-l);
	}
	.button {
		padding: 15px 25px;
	}
}
@media (max-width: 800px) {
	.button {
		padding: 10px 15px;
	}
}
