.h4 {
	font-family: var(--family-accent);
	font-size: var(--size-m);
	font-weight: 600;
	line-height: 1.2;
}
.columns_3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_3 .column {
	width: calc(100% / 3 - var(--space-default) * 2 / 3);
	margin-bottom: var(--space-default);
}

.icon_green {
	color: var(--green);
	font-size: var(--size-xl);
}
.p_m {
	padding: var(--space-m);
}
.mb_default {
	margin-bottom: var(--space-default);
}
.width_80 {
	width: 80%;
}

@media (max-width: 640px) {
	.columns_3 {
		max-width: var(--container);
		margin-left: auto;
		margin-right: auto;
	}
	.columns_3 .column {
		width: 100%;
		min-height: 200px;
	}

	.width_80 {
		width: 100%;
	}
}
