:local {
	.button {
		background-color: var(--light-blue);
		color: var(--blue);
		padding: var(--space-button);
		border-radius: var(--radius);
		display: inline-block;
		transition: var(--transition);
		cursor: pointer;
		font-weight: 700;
		line-height: 1.6;

		&:hover {
			background-color: var(--blue);
			color: var(--white);
		}
	}
	.button_red {
		background-color: var(--light-red);
		color: var(--red);
		padding: var(--space-button);
		border-radius: var(--radius);
		display: inline-block;
		transition: var(--transition);
		cursor: pointer;
		font-weight: 700;
		line-height: 1.6;

		&:hover {
			background-color: var(--red);
			color: var(--white);
		}
	}
	.button_grey {
		background-color: var(--light-grey);
		color: var(--grey);
		padding: var(--space-button);
		border-radius: var(--radius);
		display: inline-block;
		transition: var(--transition);
		cursor: pointer;
		font-weight: 700;
		line-height: 1.6;

		&:hover {
			background-color: var(--grey);
			color: var(--white);
		}
	}
}
