.flamingo_container {
	--green: rgb(137, 238, 231);
	--grey: rgb(17, 17, 17);
	--blue: rgb(11, 12, 14);
	--black: rgb(0, 0, 0);
	--overlay: rgba(0, 0, 0, 0.5);
	--white: rgb(255, 255, 255);
	--yellow: rgb(217, 199, 105);

	--size-default: 16px;
	--size-m: 18px;
	--size-l: 24px;
	--size-xl: 50px;
	--size-xxl: 80px;

	--radius: 2px;

	--container: 1200px;

	--space-default: 20px;
	--space-m: 40px;
	--space-l: 100px;

	--family-primary: "Roboto", sans-serif;
	--family-accent: "Poppins", sans-serif;

	font-size: var(--size-default);
	font-weight: 400;
	color: var(--white);
	font-family: var(--family-primary);
	line-height: 1.5;
	background-color: var(--black);
}
.bg_grey {
	background-color: var(--grey);
}
.bg_blue {
	background-color: var(--blue);
}
.bg_green {
	background-color: var(--green);
}
.bg_black {
	background-color: var(--black);
}
.h1 {
	font-family: var(--family-accent);
	font-size: var(--size-xxl);
	font-weight: 800;
	line-height: 1.2;
}
.h2 {
	font-family: var(--family-accent);
	font-size: var(--size-xl);
	font-weight: 800;
	line-height: 1.2;
}
.h3 {
	font-family: var(--family-accent);
	font-size: var(--size-l);
	font-weight: 800;
	line-height: 1.2;
	text-transform: capitalize;
}
.h4 {
	font-family: var(--family-accent);
	font-size: var(--size-m);
	font-weight: 600;
	line-height: 1.2;
}
.h5 {
	font-family: var(--family-accent);
	font-size: var(--size-default);
	color: var(--green);
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
}
.uppercase {
	text-transform: uppercase;
}
.button {
	border: 2px solid var(--green);
	padding: 20px 30px;
	text-transform: uppercase;
	color: white;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	font-family: var(--family-accent);
	font-weight: 600;
	border-radius: var(--radius);
}
.button:hover {
	background-color: var(--green);
	color: var(--grey);
}
.button_small {
	border: 2px solid var(--green);
	padding: 10px 15px;
	text-transform: capitalize;
	color: white;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	font-family: var(--family-accent);
	font-weight: 600;
	border-radius: var(--radius);
}
.button_small:hover {
	background-color: var(--green);
	color: var(--grey);
}
.container {
	max-width: var(--container);
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
.section {
	padding: var(--space-l) 0;
}
.separator {
	width: 50px;
	border-top: 2px solid var(--green);
	vertical-align: middle;
}
div.separator {
	margin-top: var(--space-default);
	margin-bottom: var(--space-default);
}
span.separator {
	margin-right: var(--space-default);
}
.columns_3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_3 .column {
	width: calc(100% / 3 - var(--space-default) * 2 / 3);
	margin-bottom: var(--space-default);
}
.p_default {
	padding: var(--space-default);
}
.py_m {
	padding: var(--space-m) 0;
}
.p_m {
	padding: var(--space-m);
}
.bb_white {
	border-bottom: 4px solid var(--white);
}
.b_hover {
	transition: all 0.2s ease-in-out;
	border: 3px solid transparent;
}
.b_hover:hover {
	border: 3px solid var(--green);
}
.icon_green {
	color: var(--green);
	font-size: var(--size-xl);
}
.icon_white {
	color: var(--white);
	font-size: var(--size-xl);
	transition: all 0.2s ease-in-out;
}
.icon_white:hover {
	color: var(--green);
	transform: scale(1.3);
}
.bg_hover {
	transition: all 0.2s ease-in-out;
	background-color: var(--grey);
}
.bg_hover * {
	transition: all 0.2s ease-in-out;
}
.bg_hover:hover {
	background-color: var(--green);
	color: var(--black);
}
.bg_hover:hover * {
	color: var(--black);
}
.mb_default {
	margin-bottom: var(--space-default);
}
.mb_m {
	margin-bottom: var(--space-m);
}
.m_-m {
	margin-top: var(--space-m);
}
.mb_l {
	margin-bottom: var(--space-l);
}
.w_100 {
	width: 100%;
}
.pt_100 {
	padding-top: 100%;
}
.bg_cover {
	background-size: cover;
	background-position: center;
}
.b_grey {
	border: 1px solid var(--grey);
}
.b_white {
	border: 1px solid var(--white);
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.flex_between {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.width_50 {
	width: 50%;
}
.width_80 {
	width: 80%;
}
.header {
	position: relative;
	padding: calc(var(--space-l) * 2) 0 var(--space-l);
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--overlay);
	opacity: 0;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
}

.columns_2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_2 .column {
	width: calc(50% - var(--space-default) / 2);
}

.columns_2_v {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.columns_2_v .column {
	width: 100%;
	height: calc(50% - var(--space-default) / 2);
}

.columns_4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.columns_4 .column {
	width: calc(25% - var(--space-default) * 3 / 4);
}
.text_center {
	text-align: center;
}

.bg_fixed {
	background-attachment: fixed;
}
.header_small {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_article {
	text-align: center;
	padding-top: calc(var(--space-l) * 2);
	position: relative;
}
.header_article .overlay {
	opacity: 1;
}
.header_article .container {
	z-index: 10;
	position: relative;
}
.mr_default {
	margin-right: var(--space-default);
}
.work_height {
	height: 800px;
	position: relative;
}
.work_height:hover .overlay {
	opacity: 1;
}
.contact_section .columns_3 .column {
	position: relative;
}
.contact_section .columns_3 .column:not(:nth-child(3n)):before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border-right: 3px solid var(--green);
	height: 100%;
}
.article .container {
	display: flex;
	flex-wrap: wrap;
}
.article .sidebar {
	width: 200px;
	margin-right: var(--space-m);
}
.article .main {
	width: calc(100% - 200px - var(--space-m));
}
.article img {
	max-width: 100%;
}
.article .detail {
	padding-bottom: var(--space-default);
	margin-bottom: var(--space-default);
}
.article .detail p {
	margin-bottom: 0;
}
.categories {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.categories .button {
	margin: 0 var(--space-default) var(--space-default);
	cursor: pointer;
}

@media (max-width: 1200px) {
	.flamingo_container {
		--size-xl: 32px;
		--size-xxl: 60px;

		--container: 800px;

		--space-m: 30px;
		--space-l: 60px;
	}
	.button {
		padding: 15px 25px;
	}
	.columns_4 .column {
		width: calc(50% - var(--space-default) / 2);
	}
	.work_height {
		height: 500px;
	}
}
@media (max-width: 800px) {
	.flamingo_container {
		--size-xl: 24px;
		--size-xxl: 36px;

		--container: 640px;

		--space-default: 15px;
		--space-m: 25px;
		--space-l: 50px;
	}
	.button {
		padding: 10px 15px;
	}
}
@media (max-width: 640px) {
	.flamingo_container {
		--size-xxl: 24px;
		--container: 480px;
	}
	.columns_3,
	.columns_2,
	.columns_4 {
		max-width: var(--container);
		margin-left: auto;
		margin-right: auto;
	}
	.columns_3 .column,
	.columns_2 .column,
	.columns_4 .column {
		width: 100%;
		min-height: 200px;
	}
	.header_small {
		height: 250px;
	}
	.width_80,
	.width_50 {
		width: 100%;
	}
	.contact_section .columns_3 .column:not(:nth-child(3n)):before {
		display: none;
	}
}
